/* START: Anketa */

/* Scene 1 */
.anketa {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	font-size: 0;
	background: #fff;
	z-index: 60;
}

.anketa-scene-1,
.anketa-scene-2,
.anketa-scene-3,
.anketa-scene-4,
.anketa-scene-5,
.anketa-scene-6,
.anketa-scene-7 {
	display: none;
}

.anketa:after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
}

.anketa-wrp {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	margin: 0 -10px 0 0;
	text-align: center;
}

.anketa-row {
	opacity: 0;
	min-height: 65px;
}

.anketa-row:last-child {
	margin: 0;
}

.anketa-label {
	font-family: FiraSansRegular;
	font-size: 16px;
	color: #3c3c3c;
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	text-align: right;
}

.anketa-val {
	display: inline-block;
	vertical-align: middle;
	width: 370px;
	margin: 0 0 0 10px;
	padding: 0 0 0 25px;
	text-align: left;
	box-sizing: border-box;
	position: relative;
}

.anketa-input {
	width: 300px;
	height: 35px;
	border: 2px solid #373127;
	font-family: FiraSansRegular;
	font-size: 14px;
	padding: 0 10px;
	color: #3c3c3c;
	outline: none;
}

.anketa-input_size_small {
	width: 200px;
}

.anketa-val:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	width: 14px;
	height: 14px;
	margin: -7px 0 0;
	background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iNjYuNjY3cHgiIGhlaWdodD0iNjYuNjY3cHgiIHZpZXdCb3g9IjAgMCA2Ni42NjcgNjYuNjY3IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2Ni42NjcgNjYuNjY3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZGVmcz4KCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHk9IjAiIHdpZHRoPSI2Ni42NjciIGhlaWdodD0iNjYuNjY3Ii8+Cgk8L2RlZnM+Cgk8Y2xpcFBhdGggaWQ9IlNWR0lEXzJfIj4KCQk8dXNlIHhsaW5rOmhyZWY9IiNTVkdJRF8xXyIgIG92ZXJmbG93PSJ2aXNpYmxlIi8+Cgk8L2NsaXBQYXRoPgoJPHBhdGggY2xpcC1wYXRoPSJ1cmwoI1NWR0lEXzJfKSIgZmlsbD0iI0NGQjNBMiIgZD0iTTMzLjI1OCwyMS41MmMxLjMyMiwwLDIuMzkzLTAuMzUsMy4xODMtMS4wMzkKCQljMC44MjEtMC43MTUsMS4yMzgtMS42ODMsMS4yMzgtMi44NzhjMC0xLjE5My0wLjQxNi0yLjE2Mi0xLjIzNy0yLjg3OGMtMC43OTEtMC42OS0xLjg2My0xLjAzOS0zLjE4NC0xLjAzOQoJCWMtMS4yNDgsMC0yLjI5OCwwLjM0Ni0zLjEyLDEuMDI4Yy0wLjg2NCwwLjcxNi0xLjMwMSwxLjY4Ny0xLjMwMSwyLjg4OWMwLDEuMjAyLDAuNDM4LDIuMTc1LDEuMzAxLDIuODg5CgkJQzMwLjk1OSwyMS4xNzQsMzIuMDA5LDIxLjUyLDMzLjI1OCwyMS41MiIvPgoJPHBvbHlnb24gY2xpcC1wYXRoPSJ1cmwoI1NWR0lEXzJfKSIgZmlsbD0iI0NGQjNBMiIgcG9pbnRzPSIzNi43MjEsNDguOTc5IDM2LjcyMSwyNS4wMyAyNi4yMTUsMjUuMDMgMjYuMjE1LDI5LjAzMiAyOS45NDUsMjkuMDMyIAoJCTI5Ljk0NSw0OC45NzkgMjYuMjE1LDQ4Ljk3OSAyNi4yMTUsNTIuOTgxIDQwLjQ1Miw1Mi45ODEgNDAuNDUyLDQ4Ljk3OSAJIi8+Cgk8cGF0aCBjbGlwLXBhdGg9InVybCgjU1ZHSURfMl8pIiBmaWxsPSIjQ0ZCM0EyIiBkPSJNMzMuMzMzLDMuNzA0YzE2LjMzOCwwLDI5LjYzLDEzLjI5MiwyOS42MywyOS42MjkKCQljMCwxNi4zMzgtMTMuMjkyLDI5LjYzLTI5LjYzLDI5LjYzcy0yOS42My0xMy4yOTItMjkuNjMtMjkuNjNDMy43MDMsMTYuOTk2LDE2Ljk5NSwzLjcwNCwzMy4zMzMsMy43MDQgTTMzLjMzMywwCgkJQzE0LjkyMywwLDAsMTQuOTI0LDAsMzMuMzMzYzAsMTguNDEsMTQuOTIzLDMzLjMzNCwzMy4zMzMsMzMuMzM0czMzLjMzMy0xNC45MjQsMzMuMzMzLTMzLjMzNEM2Ni42NjYsMTQuOTI0LDUxLjc0MywwLDMzLjMzMywwIi8+CjwvZz4KPC9zdmc+);
	background-size: 100% 100%;
}

.anketa-val.no-icon:before {
	content: none;
}

.anketa-season {
	display: inline-block;
	border: 2px solid #3c3c3c;
	margin: 0 12px 0 0;
	padding: 0 10px;
	font-family: FiraSansRegular;
	font-size: 18px;
	line-height: 24px;
	transition: all .1s;
	-webkit-transition: all .1s;
}

.anketa-season:hover {
	cursor: pointer;
	border-color: #ff7d7a;
	color: #fff;
	background: #ff7d7a;
}

.anketa-season_selected {
	color: #fff;
	background: #ff7d7a;
	border-color: #ff7d7a;
}

.agreement-text {
	font-size: 12px;
	font-family: FiraSansRegular;
	padding: 0 0 0 15px;
	display: inline-block;
	vertical-align: middle;
}

.agreement-text a {
	color: #cfb3a2;
	text-decoration: none;
}

.agreement-text a:hover {
	text-decoration: underline;
}

.anketa-title {
	font-size: 60px;
	font-family: FiraSansRegular;
	text-align: center;
	margin: 0 0 15px 137px;
}

.anketa-btn {
	border: 1px solid #ff7d7a;
	color: #ff7d7a;
	font-size: 18px;
	border-radius: 20px;
	background: none;
	padding: 2px 50px;
	margin: 0 0 0 -50px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	outline: none;
	font-family: FiraSansRegular;
	transition: background, color .3s;
	-webkit-transition: background, color .3s;
}

.anketa-btn:hover {
	background: #ff7d7a;
	color: #fff;
	cursor: pointer;
}

.anketa-error {
	display: none;
	color: red;
	text-align: center;
	position: absolute;
	bottom: 110px;
	left: 50%;
	font-size: 16px;
	font-family: "FiraSansRegular";
	margin: 0 0 0 -70px;
}

/* Scene 2 */
.anketa-col-2 {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.anketa-col_align_right {
	text-align: right;
}

.anketa-col_align_left {
	text-align: left;
}

/* Scene 3 */
.anketa-scene-3-wrp {
	width: 1000px;
	margin: auto;
}

.anketa-subtitle {
	color: #ff7d7a;
	font-family: "HelveticaNeueCyr-Bold";
	font-size: 28px;
	font-weight: bold;
	text-align: left;
	margin: 0 0 25px 0;
	letter-spacing: 1px;
}

.anketa-subtitle-toggle {
	font-style: italic;
	color: #ff7d7a;
	font-family: "FiraSansRegular";
	font-size: 16px;
	border-bottom: 1px dotted #ff7d7a;
}

.anketa-subtitle-toggle:hover {
	cursor: pointer;
	opacity: .8;
}

.carousel {
	width: 100%;
	overflow: hidden;
}

.carousel-row {
	position: relative;
	margin: 0 0 60px 0;
}

.carousel-wrp {
	width: 9999px;
	text-align: left;
}

.carousel-item {
	display: inline-block;
	margin: 0 20px 0 0;
}

.carousel-item-big {
	width: 333px;
	text-align: center;
}

.carousel-item-pic {
	margin: 0 0 15px 0;
}

.carousel-item-subtitle {
	display: inline-block;
	border: 2px solid #3c3c3c;
	width: 230px;
	text-align: center;
	font-family: FiraSansRegular;
	font-size: 18px;
	line-height: 24px;
	transition: all .1s;
	-webkit-transition: all .1s;
}

.carousel-item-subtitle.active {
	color: #fff;
	background: #ff7d7a;
	border-color: #ff7d7a;
	cursor: pointer;
}

.carousel-item-big .carousel-item-subtitle {
	font-size: 24px;
	padding: 7px 0 5px 0;
}

.carousel-item-subtitle:hover {
	color: #fff;
	background: #ff7d7a;
	border-color: #ff7d7a;
	cursor: pointer;
}

.carousel-prevbtn {
	background: url(../../i/s7/prev.png) no-repeat 0 0;
	background-size: 100% auto;
	width: 30px;
	height: 46px;
	position: absolute;
	top: 50%;
	left: -65px;
	margin: -23px 0 0;
}

.carousel-nextbtn {
	background: url(../../i/s7/next.png) no-repeat 0 0;
	background-size: 100% auto;
	width: 30px;
	height: 46px;
	position: absolute;
	top: 50%;
	right: -65px;		
	margin: -23px 0 0;
}

.carousel-prevbtn:hover,
.carousel-nextbtn:hover {
	cursor: pointer;
	opacity: .8;
}

.carousel-prevbtn:active,
.carousel-nextbtn:active {
	opacity: 1
}


.anketa-choice {
	width: 1000px;
	margin: auto;
	text-align: left;
}

.anketa-choice ul {
	display: inline;
	padding: 0;
}

.anketa-choice-title {
	font-style: italic;
	color: #ff7d7a;
	font-size: 20px;
	font-family: "HelveticaNeueCyr-Bold";
	padding: 0 20px 0 0;
	letter-spacing: 1px;
}

.anketa-choice-item {
	font-size: 12px;
	color: #000;
	font-family: "FiraSansRegular";
	margin: 0 22px 0 0;
	list-style: none;
	display: inline;
	position: relative;
}

.anketa-choice-item:after {
	content: "";
	width: 8px;
	height: 8px;
	background: url(../../i/s7/delete.png) no-repeat 0 0;
	position: absolute;
	top: -2px;
  	right: -10px;
}

/* Scene 4 */
.anketa-scene-4-wrp {
	width: 1000px;
	margin: auto;
}

.anketa-subtitle_margin_none {
	margin: 0;
}

.anketa-row-face {
	text-align: center;
	margin: 0 0 35px 0;
}

.anketa-row-item {
	display: inline-block;
	margin: 0 30px;
	text-align: center;
}

.anketa-row-item_loaded .anketa-row-photo{
	border-color: #ff7d7a;
}

.anketa-row-item_loaded .anketa-row-btn {
	border-color: #ff7d7a;
	background: #ff7d7a;
	color: #fff;
}

.anketa-row-title {
	font-family: "FiraSansRegular";
	font-size: 16px;
	position: relative;
	display: inline;
	color: #3c3c3c;
}

.anketa-row-title:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	width: 14px;
	height: 14px;
	margin: -10px -18px 0;
	background: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSLQodC70L7QuV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iNjYuNjY3cHgiIGhlaWdodD0iNjYuNjY3cHgiIHZpZXdCb3g9IjAgMCA2Ni42NjcgNjYuNjY3IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2Ni42NjcgNjYuNjY3IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8ZGVmcz4KCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHk9IjAiIHdpZHRoPSI2Ni42NjciIGhlaWdodD0iNjYuNjY3Ii8+Cgk8L2RlZnM+Cgk8Y2xpcFBhdGggaWQ9IlNWR0lEXzJfIj4KCQk8dXNlIHhsaW5rOmhyZWY9IiNTVkdJRF8xXyIgIG92ZXJmbG93PSJ2aXNpYmxlIi8+Cgk8L2NsaXBQYXRoPgoJPHBhdGggY2xpcC1wYXRoPSJ1cmwoI1NWR0lEXzJfKSIgZmlsbD0iI0NGQjNBMiIgZD0iTTMzLjI1OCwyMS41MmMxLjMyMiwwLDIuMzkzLTAuMzUsMy4xODMtMS4wMzkKCQljMC44MjEtMC43MTUsMS4yMzgtMS42ODMsMS4yMzgtMi44NzhjMC0xLjE5My0wLjQxNi0yLjE2Mi0xLjIzNy0yLjg3OGMtMC43OTEtMC42OS0xLjg2My0xLjAzOS0zLjE4NC0xLjAzOQoJCWMtMS4yNDgsMC0yLjI5OCwwLjM0Ni0zLjEyLDEuMDI4Yy0wLjg2NCwwLjcxNi0xLjMwMSwxLjY4Ny0xLjMwMSwyLjg4OWMwLDEuMjAyLDAuNDM4LDIuMTc1LDEuMzAxLDIuODg5CgkJQzMwLjk1OSwyMS4xNzQsMzIuMDA5LDIxLjUyLDMzLjI1OCwyMS41MiIvPgoJPHBvbHlnb24gY2xpcC1wYXRoPSJ1cmwoI1NWR0lEXzJfKSIgZmlsbD0iI0NGQjNBMiIgcG9pbnRzPSIzNi43MjEsNDguOTc5IDM2LjcyMSwyNS4wMyAyNi4yMTUsMjUuMDMgMjYuMjE1LDI5LjAzMiAyOS45NDUsMjkuMDMyIAoJCTI5Ljk0NSw0OC45NzkgMjYuMjE1LDQ4Ljk3OSAyNi4yMTUsNTIuOTgxIDQwLjQ1Miw1Mi45ODEgNDAuNDUyLDQ4Ljk3OSAJIi8+Cgk8cGF0aCBjbGlwLXBhdGg9InVybCgjU1ZHSURfMl8pIiBmaWxsPSIjQ0ZCM0EyIiBkPSJNMzMuMzMzLDMuNzA0YzE2LjMzOCwwLDI5LjYzLDEzLjI5MiwyOS42MywyOS42MjkKCQljMCwxNi4zMzgtMTMuMjkyLDI5LjYzLTI5LjYzLDI5LjYzcy0yOS42My0xMy4yOTItMjkuNjMtMjkuNjNDMy43MDMsMTYuOTk2LDE2Ljk5NSwzLjcwNCwzMy4zMzMsMy43MDQgTTMzLjMzMywwCgkJQzE0LjkyMywwLDAsMTQuOTI0LDAsMzMuMzMzYzAsMTguNDEsMTQuOTIzLDMzLjMzNCwzMy4zMzMsMzMuMzM0czMzLjMzMy0xNC45MjQsMzMuMzMzLTMzLjMzNEM2Ni42NjYsMTQuOTI0LDUxLjc0MywwLDMzLjMzMywwIi8+CjwvZz4KPC9zdmc+);
	background-size: 100% 100%;
}

.anketa-row-photo {
	width: 100px;
	height: 100px;
	border: 2px solid #3c3c3c;
	margin: 10px auto 18px auto;
	position: relative;
}

.anketa-row-photo-title {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -12px 0 0 -48px;
	font-size: 14px;
	font-family: FiraSansRegular;
	line-height: 16px;
}

.anketa-row-photo img {
	opacity: .2;
}

.anketa-row-btn {
	font-family: "FiraSansRegular";
	font-size: 14px;
	padding: 0 30px;
	border: 1px solid #3c3c3c;
	border-radius: 10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
}

/* Slide 5 */
.anketa-textarea {
	width: 300px;
	height: 120px;
	border: 2px solid #3c3c3c;
	color: #3c3c3c;
	font-family: "FiraSansRegular";
	font-size: 16px;
	margin: 0 0 40px 0;
	padding: 5px 10px;
	outline: none;
	resize: none;
}

.anketa-scene-5 .anketa-label {
	vertical-align: top;
	width: 180px;
}

.anketa-scene-5 .anketa-val:before {
	margin: 0;
	top: 5px;
}

/* Slide 6 */
.order-header {
	width: 900px;
	margin: 0 auto 15px auto;
}

.order-subtitle {
	display: inline-block;
	width: 50%;
	font-family: "FiraSansMedium";
	font-size: 24px;
	color: #ff7d7a;
	letter-spacing: 1px;
	text-align: left;
}

.order-add-more {
	display: inline-block;
	width: 50%;
	text-align: right;
}

.order-add-more span{
	font-family: "FiraSansRegular";
	font-style: italic;
	font-size: 16px;
	color: #ff7d7a;
	border-bottom: 1px dotted #ff7d7a;
}

.order-list {
	width: 900px;
	border-top: 2px solid #ff7d7a;
	margin: auto;
}

.order-row {
	border-bottom: 1px solid #ffdcdb;
	padding: 10px 0;
}

.order-row:last-child {
	border: none;
}

.order-pic {
	display: inline-block;
	vertical-align: middle;
	width: 80px;
}

.order-title {
	display: inline-block;
	vertical-align: middle;
	width: 600px;
	font-size: 16px;
	font-family: "Myriad Pro";
	color: #3c3c3c;
	text-align: left;
	padding: 0 0 0 20px;
}

.order-price {
	display: inline-block;
	vertical-align: middle;
	width: 140px;
	font-size: 18px;
  	letter-spacing: 1px;
	font-family: "FiraSansMedium";
	color: #ff7d7a;
}

.order-del {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	position: relative;
}

.order-del:after {
	content: "";
	width: 22px;
	height: 22px;
	background: url(../../i/s7/delete_order.png) 0 0 no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -11px 0 0 -11px;
}

/* slide 7 */
.magazine {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -265px 0 0 -400px;
}

.thank-u-title {
	position: relative;
	z-index: 50;
	color: #3c3c3c;
	font-size: 80px;
	font-family: "FiraSansMedium";
}

.time-title {
	position: relative;
	z-index: 50;
	margin: 160px 0 0;
}

.time-title-1 {
	font-size: 25px;
	font-family: "FiraSansRegular";
}

.time-title-2 {
	font-family: "FiraSansMedium";
	font-size: 25px;
	color: #fa6464;
	text-transform: uppercase;
}

.time-title-3 {
	color: #fa6464;
	font-family: "FiraSansMedium";
	font-size: 90px;
	margin: -80px 0 0 375px;
}

.time-title-4 {
	font-size: 120px;
}

.anketa-btn-to-index {
	display: none;
}

/* END: Anketa */