/* START: Footer */
footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: -120px;
	z-index: 100;
	background: rgba(241, 100, 99, 0.9);
	height: 120px;
	padding: 30px 0 0;
	box-sizing: border-box;
	color: #3c3c3c;	
	font-family: "HelveticaNeueCyr-Light";
	font-size: 14px;
	transition: all .5s;
	-webkit-transition: all .5s;
}

footer.active {
	bottom: 0;
}

footer a {
	color: #3c3c3c;
}

.wrp {
	max-width: 1200px;
	margin: auto;
}

.f-col {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

.f-col:nth-child(2) {
	text-align: center;
}

.f-logo {
	display: inline-block;
	vertical-align: middle;
	width: 38px;
	height: 70px;
	background: url(../../i/s8/f_logo.png) 0 0 no-repeat;
}

.support {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 20px;
}

.f-social {
	margin: 10px 0 0;
	padding: 0;
}

.red-red-copy {
	font-size: 12px;
	margin: 5px 0 0;
	float: right;
}
/* END: Footer */