/* START: Hyde menu */
.hyde-menu {
	position: fixed;
	top: 70px;
	left: -100%;
	height: 100%;
	z-index: 30;
	width: 40%;
	transition: all .5s;
	-webkit-transition: all .5s;
}

@media (max-width: 1000px) {
	.hyde-menu {
		top: -100%;
		left: 50%;
		width: 300px;
		height: 300px;
		margin: 0 0 0 -150px;
		overflow: hidden;
	}
}

.hyde-menu.active {
	left: 0;
}

@media (max-width: 1000px) {
	.hyde-menu.active {
		top: 120px;
		left: 50%;
	}
}

.hyde-menu-item {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 50%;
	height: 33.3333%;
	float: left;
	font-size: 0;
	background: url("http://lorempixel.com/300/300/") no-repeat;
	background-size: 100% 100%;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}

.hyde-menu-item.on-top {
	z-index: 100;
}

@media (max-width: 1000px) {
	.hyde-menu-item {
		display: block;
		width: 300px;
		height: 300px;
	}
}

.hyde-menu-hover {
	background: rgba(250, 100, 100, 0.89);
	cursor: pointer;
	position: absolute;
	top: 70;
	left: 0;
	width: 50%;
	height: 33.3333%;
}

@media (max-width: 1000px) {
	.hyde-menu-hover {
		top: 0;
		left: 0;
		width: 300px;
		height: 300px;
	}
}

.hyde-menu-hover:before {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	z-index: 70;
	border: 2px solid #fff;
}

.hyde-menu-symbol {
	opacity: .4;
	color: #fff;
	font-family: HelveticaNeueCyr-Light;
	font-size: 70px;
	line-height: 1;
	text-transform: uppercase;
	border: 3px solid #fff;
	width: 90px;
	height: 90px;
	box-sizing: border-box;
	padding: 10px 0 0;
	margin: -110px 0 0 -45px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 50;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.hyde-menu-number {
	font-size: 12px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.hyde-menu-color-map {
	opacity: 0;
	font: 18px "Helvetica";
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 70;
	text-align: center;
	transition: all .5s;
	-webkit-transition: all .5s;
}

.hyde-menu-color-map:before {
	content: "";
	position: absolute;
	top: 26px;
	left: 50%;
	width: 120px;
	height: 1px;
	margin: 0 0 0 -60px;
	background: #fff;
}

.hyde-menu-color-map div {
	font-size: 12px;
	padding: 15px 0 0;
}

.hyde-menu-item.active .hyde-menu-symbol,
.hyde-menu-item.hover .hyde-menu-symbol {
	opacity: 1;
	z-index: 70;
}

.hyde-menu-item.active .hyde-menu-color-map {
	opacity: 1;
	top: 50%;
}

.hyde-menu-item:before {
	content: "";
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(250, 100, 100, 0.89);
	transition: all .5s;
	-webkit-transition: all .5s;
}

.hyde-menu-item.hover:before {
	opacity: 1;
}

@media (max-width: 1000px) {
	.hyde-menu-item.active {
		position: absolute;
		top: 0;
		left: 0;
	}

	.hyde-menu-item .hyde-menu-symbol {
		display: none;
	}

	.hyde-menu-item.active .hyde-menu-symbol {
		display: block;
	}
}
/* END: Hyde menu */