/* START: Main menu */
.main-menu {
	position: fixed;
	top: -70px;
	left: 0;
	right: 0;
	z-index: 100;
	background: rgba(255, 255, 255, 1);
	height: 70px;
	border-bottom: 1px solid #6d6f71;
	text-align: center;
	padding: 25px 0 0;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(173, 173, 173, 0.75);
	-moz-box-shadow:    0px 1px 3px 0px rgba(173, 173, 173, 0.75);
	box-shadow:         0px 1px 3px 0px rgba(173, 173, 173, 0.75);
	transition: all .5s;
	-webkit-transition: all .5s;
}

.main-menu ul {
	margin: 0;
	padding: 0;
}

.main-menu-item {
	display: inline;
	list-style: none;
	margin: 0 10px;
}

.main-menu-link {
	text-decoration: none;
	color: #b48264;
	font-family: HelveticaNeueCyr-Light;
	font-size: 16px;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.main-menu-link-active, .main-menu-link:hover {
	color: #fb8b8b !important;
	text-decoration: underline;
}
/* END: Main menu */