/* START: Social */
.social {
	margin: 0 0 0 -6px;
	padding: 50px 0 0;
	list-style: none;
}

.social-item {
	display: inline-block;
	margin: 0 2px;
}

@media (max-width: 1000px) {
	.social-item {
		margin: 0 5px;
	}
}

.social-item-vk {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../../i/s1/social.png) 0 -125px no-repeat;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.social-item-vk:hover {
	background-position: 0 -166px;
}

@media (max-width: 1000px) {
	.social-item-vk {
		background: url(../../i/s1/social.png) 0 0 no-repeat;
		width: 56px;
		height: 56px;
	}
}

.social-item-fb {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../../i/s1/social.png) -125px -125px no-repeat;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.social-item-fb:hover {
	background-position: -125px -166px;
}

@media (max-width: 1000px) {
	.social-item-fb {
		background: url(../../i/s1/social.png) -179px 0 no-repeat;
		width: 56px;
		height: 56px;
	}
}

.social-item-tw {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../../i/s1/social.png) -83px -125px no-repeat;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.social-item-tw:hover {
	background-position: -83px -166px;
}

@media (max-width: 1000px) {
	.social-item-tw {
		background: url(../../i/s1/social.png) -119px 0 no-repeat;
		width: 56px;
		height: 56px;
	}
}

.social-item-ok {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../../i/s1/social.png) -42px -125px no-repeat;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.social-item-ok:hover {
	background-position: -42px -166px;
}

@media (max-width: 1000px) {
	.social-item-ok {
		background: url(../../i/s1/social.png) -60px 0 no-repeat;
		width: 56px;
		height: 56px;
	}
}
/* END: Social */