@font-face {
  font-family: "HelveticaNeueCyr-Light";
  src: url('../fonts/HelveticaNeueCyr-Light.eot');
  src: local('â˜º'), url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Plumb-Black";
  src: url('../fonts/Plumb-Black.eot');
  src: local('â˜º'), url('../fonts/Plumb-Black.woff') format('woff'), url('../fonts/Plumb-Black.ttf') format('truetype'), url('../fonts/Plumb-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intro-Black-Caps";
  src: url('../fonts/Intro-Black-Caps.eot');
  src: local('â˜º'), url('../fonts/Intro-Black-Caps.woff') format('woff'), url('../fonts/Intro-Black-Caps.ttf') format('truetype'), url('../fonts/Intro-Black-Caps.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasRegular";
  src: url('../fonts/BebasRegular.eot');
  src: local('â˜º'), url('../fonts/BebasRegular.woff') format('woff'), url('../fonts/BebasRegular.ttf') format('truetype'), url('../fonts/BebasRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FiraSansRegular";
  src: url('../fonts/FiraSansRegular.eot');
  src: local('â˜º'), url('../fonts/FiraSansRegular.woff') format('woff'), url('../fonts/FiraSansRegular.ttf') format('truetype'), url('../fonts/FiraSansRegular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

canvas {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu-icon-wrp {
	position: absolute;
	top: 40px;
	left: 40px;
	z-index: 50;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.menu-icon-line:nth-child(1) {
	width: 30px;
	height: 5px;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.menu-icon-line:nth-child(2) {
	content: "";
	width: 30px;
	height: 5px;
	background: #fff;
	position: absolute;
	top: 12px;
	left: 0;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.menu-icon-line:nth-child(3) {
	content: "";
	width: 30px;
	height: 5px;
	background: #fff;
	position: absolute;
	top: 24px;
	left: 0;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.menu-icon-wrp:hover .menu-icon-line:nth-child(1) {
	left: -15px;
}

.menu-icon-wrp:hover .menu-icon-line:nth-child(3) {
	left: 15px;
}

.menu-popup {
	display: none;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 20;
}

.menu-popup:after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
}

.menu-popup-wrp {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	margin: 0 0 0 -6px;
	text-align: center;
}

.menu-popup-nav {
	margin: 80px auto 0 auto;
	padding: 0;
	list-style: none;
	width: 750px;
}

.menu-popup-nav-item {
	display: inline-block;
	margin: 0 15px 20px 15px;
	position: relative;
}

.menu-popup-nav-link {
	font-family: HelveticaNeueCyr-Light;
	font-size: 24px;
	text-decoration: none;
	color: #3c3c3c;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.menu-popup-nav-link:hover {
	color: #fa6464;
}

.menu-popup-nav-item .menu-popup-nav-link:after {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-webkit-border-radius: 50%;
	background: #fa6464;
	display: inline-block;
	margin: 0 0 4px 0;
	position: absolute;
	top: 7px;
	right: -20px;
}

.menu-popup-nav-item:nth-child(4) .menu-popup-nav-link:after,
.menu-popup-nav-item:last-child .menu-popup-nav-link:after{
	content: none;
}

.menu-popup-closebtn svg {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 40px;
	right: 40px;
	background: url(../i/s1/close.svg) no-repeat;
	cursor: pointer;
	transition: all .8s;
	-webkit-transition: all .8s;
	fill: #EC6466;
}

.menu-popup-closebtn svg:hover {
	moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    fill: #666;
}

.menu-popup-logo {
	width: 138px;
	height: 252px;
	background: url(../i/s1/logo_popup.png) 0 0 no-repeat;
	display: block;
	margin: auto;
}

.menu-popup-logo:hover {
	background-position: 0 -270px;
}

.social {
	margin: 0 0 0 -6px;
	padding: 50px 0 0;
	list-style: none;
}

.social-item {
	display: inline-block;
	margin: 0 2px;
}

.social-item-vk {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../i/s1/social_vk.png) 0 -34px no-repeat;
	background-size: 100% auto;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.social-item-vk:hover {
	background-position: 0 0;
	width: 36px;
	height: 36px;
	margin: -3px -3px -3px -3px;
}

.social-item-fb {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../i/s1/social_fb.png) 0 -34px no-repeat;
	background-size: 100% auto;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.social-item-fb:hover {
	background-position: 0 0;
	width: 36px;
	height: 36px;
	margin: -3px -3px -3px -3px;
}

.social-item-tw {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../i/s1/social_tw.png) 0 -34px no-repeat;
	background-size: 100% auto;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.social-item-tw:hover {
	background-position: 0 0;
	width: 36px;
	height: 36px;
	margin: -3px -3px -3px -3px;
}

.social-item-ok {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../i/s1/social_ok.png) 0 -34px no-repeat;
	background-size: 100% auto;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.social-item-ok:hover {
	background-position: 0 0;
	width: 36px;
	height: 36px;
	margin: -3px -3px -3px -3px;
}

.main-menu {
	position: fixed;
	top: -70px;
	left: 0;
	right: 0;
	z-index: 50;
	background: rgba(255, 255, 255, 0.8);
	height: 70px;
	border-bottom: 1px solid #6d6f71;
	text-align: center;
	padding: 25px 0 0;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 1px 3px 0px rgba(173, 173, 173, 0.75);
	-moz-box-shadow:    0px 1px 3px 0px rgba(173, 173, 173, 0.75);
	box-shadow:         0px 1px 3px 0px rgba(173, 173, 173, 0.75);
	transition: all .5s;
	-webkit-transition: all .5s;
}

.main-menu ul {
	margin: 0;
	padding: 0;
}

.main-menu-item {
	display: inline;
	list-style: none;
	margin: 0 10px;
}

.main-menu-link {
	text-decoration: none;
	color: #b48264;
	font-family: HelveticaNeueCyr-Light;
	font-size: 16px;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.main-menu-link-active, .main-menu-link:hover {
	color: #fb8b8b !important;
	text-decoration: underline;
}

footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: -120px;
	z-index: 50;
	background: rgba(241, 100, 99, 0.9);
	height: 120px;
	padding: 30px 0 0;
	box-sizing: border-box;
	color: #3c3c3c;	
	font-family: "HelveticaNeueCyr-Light";
	font-size: 14px;
	transition: all .5s;
	-webkit-transition: all .5s;
}

footer a {
	color: #3c3c3c;
}

.wrp {
	max-width: 1200px;
	margin: auto;
}

.f-col {
	width: 33%;
	display: inline-block;
	vertical-align: top;
}

.f-col:nth-child(2) {
	text-align: center;
}

.f-logo {
	display: inline-block;
	vertical-align: middle;
	width: 38px;
	height: 70px;
	background: url(../i/s7/f_logo.png) 0 0 no-repeat;
}

.support {
	display: inline-block;
	vertical-align: middle;
	padding: 0 0 0 20px;
}

.f-social {
	margin: 10px 0 0;
	padding: 0;
}

.red-red-copy {
	font-size: 12px;
	margin: 5px 0 0;
	float: right;
}

.landing-nav {
	position: fixed;
	top: 50%;
	right: -100px;
	margin: -246px 0 0;
	z-index: 50;
	transition: all 1s;
	-webkit-transition: all 1s;
}

.landing-nav-item {
	width: 45px;
	height: 45px;
	text-align: center;
	list-style: none;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border: 3px solid #cfb3a2;
	color: #cfb3a2;
	font-family: HelveticaNeueCyr-Light;
	font-size: 30px;
	padding: 8px 0 0;
	box-sizing: border-box;
	margin: 0 0 30px 0;
	position: relative;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.landing-nav-item:after {
	content: "";
	position: absolute;
	bottom: -33px;
	right: 17px;
	height: 30px;
	width: 1px;
	border-left: 2px dotted #cfb3a2;
}

.landing-nav-item:last-child:after {
	content: none;
}

.landing-nav-item-active {
	border-color: #ff7d7a;
	color: #ff7d7a;
}

.landing-nav-item:hover {
	border-color: #ff7d7a;
	color: #ff7d7a;
	cursor: pointer;
}